.body-inner {
  position: relative;
  overflow: hidden;
}
body{
  overflow-x: hidden;
  border: 0;
  margin: 0;
  padding: 0;
}
@media (max-width: 991px) {
  .body-inner {
    position: relative;
    overflow: hidden;
  }
}
@media (max-width: 575px) {
  .body-inner {
    position: relative;
    overflow: hidden;
  }
}
.carousel-inner{
  height: 1000px;
  width: 100%;
  color: #fff;
  background-position: 50% 50%;
}
.carousel-item img{
  position:absolute;
  top:0;
  left:0;
  width: 70%;
  max-height:1000px;
  background-position: center;
  background-size: cover;
}
.slider-content {
  position: absolute;
  align-content: center;
  margin-top: 250px;
  top: 50%;
  height: 100%;
  width: 100%;
}

.slide-title-box {
  font-size: 16px;
  line-height: 39px;
  background: #ffb600;
  color: #fff;
  display: inline-block;
  padding: 0 15px;
  margin: 0 0 10px;
}

.slide-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  color: #fff;
  margin: 20px 0 10px;
}

@media (max-width: 991px) {
  .slide-title {
    font-size: 22px;
  }
  .carousel-inner{
    width:100%;
    height: 600px;
  }
  .carousel-item img{
    position:absolute;
    top:0;
    left:0;
    width: 70%;
    max-height:600px;
    background-position: center;
    background-size: cover;
  }
}

@media (max-width: 575px) {
  .slide-title {
    font-size: 16px;
  }
  .carousel-inner{
    width:100%;
    height: 600px;
  }
  .carousel-item img{
    position:absolute;
    top:0;
    left:0;
    width: 70%;
    max-height:600px;
    background-position: center;
    background-size: cover;
  }
}

.slide-sub-title {
  font-style: normal;
  font-size: 60px;
  line-height: 58px;
  margin: 20px 0;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
}

@media (max-width: 991px) {
  .slide-sub-title {
    font-size: 46px;
  }
}

@media (max-width: 575px) {
  .slide-sub-title {
    font-size: 30px;
    line-height: 30px;
  }
}

.row{
    transform: translate(20%, 50%);
    left:50%;
    top:50%;
}
/* Section title */
.section-title {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  align-content: center;
}

.section-sub-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0 0 60px;
  color: #212121;
}

@media (max-width: 575px) {
  .section-sub-title {
    font-size: 28px;
  }
}
/* Service box */
#ts-service-area{
  align-content: center;
  position: absolute;
}
.ts-service-box .ts-service-icon i {
  font-size: 36px;
  float: left;
  color: #ffb600;
}

.ts-service-box .ts-service-box-content {
  margin-left: 62px;
  margin-bottom: 30px;
}

.tab-content .ts-service-box .ts-service-box-content {
  margin-left: 90px;
}

.ts-service-box .ts-service-box-content h3 {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 28px;
}

.ts-service-box .ts-service-box-info {
  margin-left: 25px;
  margin-bottom: 40px;
}

.service-box-title {
  font-size: 16px;
  margin: 0 0 10px;
}

.service-box-title a {
  color: #333;
}

.service-box-title a:hover {
  color: #ffb600;
}
@media (max-width: 991px) {
  .ts-service-area{
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
  }
  .ts-service-box-img{
    width: 50%;
    height: 50%;
  }
  .ts-service-area .container .text-center .col-12 .section-title{
    margin-left: 30px;
    margin-top: -30px;
    text-align: center;
    display: flex;
    font-size: 19px;
  }
  .ts-service-area .container .text-center .col-12 .section-sub-title{
    margin-left: 40px;
    font-size: 35px;
    text-transform: uppercase;
  }
  .ts-service-area .row{
    display: flex;
  }
}

@media (max-width: 575px) {
  .ts-service-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute;
  }
  .ts-service-area .container .text-center .col-12 .section-title{
    margin-left: 60px;
    margin-top: -30px;
    text-align: center;
    display: flex;
    font-size: 19px;
  }
  .ts-service-area .container .text-center .col-12 .section-sub-title{
    margin-left: 50px;
    text-align: center;
    display: flex;
    font-size: 35px;
    text-transform: uppercase;
  }
/* Service box bg */
.ts-service-box-bg {
  background: #252525;
  color: #fff;
  padding: 30px;
}

.ts-service-box-bg h4,
.ts-service-box-bg h3 {
  color: #fff;
}

/* Icon squre */
.ts-service-icon.icon-round i {
  font-size: 24px;
  color: #fff;
  background: #ffb600;
  text-align: center;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  position: relative;
  float: none;
}

/* Icon left */
.ts-service-box.icon-left .ts-service-box-icon {
  float: left;
}

.ts-service-box.icon-left .ts-service-box-icon i {
  background: #ffb600;
  color: #fff;
}

.ts-service-box.icon-left .ts-service-box-info {
  margin-left: 90px;
}

.ts-service-box.icon-left .ts-service-box-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* Service no box */
.service-no {
  font-size: 48px;
  color: #dbdbdb;
  float: left;
  margin-top: 10px;
}

.ts-service-box-content .ts-service-box-info {
  margin-left: 90px;
}


.ts-service-box.icon-left .ts-service-box-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

/* Service no box */
.service-no {
  font-size: 48px;
  color: #dbdbdb;
  float: left;
  margin-top: 10px;
}

.ts-service-box-content .ts-service-box-info {
  margin-left: 90px;
}

/* Service Image */
.ts-service-image-wrapper {
  margin-bottom: 30px;
}

.ts-service-icon i {
  font-size: 28px;
  margin-right: 15px;
  margin-top: 2px;
}

.ts-service-info {
  margin-left: 30px;
}

@media (max-width: 1200px) {
  .ts-service-info {
    margin-left: 15px;
  }
}

.ts-service-info h3 {
  font-size: 16px;
}

.ts-service-info .learn-more {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.ts-service-info .learn-more:hover {
  color: #ffb600;
}

/* Service Classic */
.ts-service-classic .ts-service-icon i {
  font-size: 24px;
  float: left;
  color: #fff;
  background: #ffb600;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.3s;
}

.ts-service-classic .ts-service-box-info {
  margin-left: 80px;
}

.ts-service-classic:hover .ts-service-icon i {
  background: #ffb600;
}

.projects .project-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 8000px;
  position: relative;
}

/* Project shuffle Item */
.shuffle-item {
  padding: 0;

}

.shuffle-item .project-img-container {
  position: relative;
  overflow: hidden;
  
}

.shuffle-item .project-img-container img{
  height: 100px;
  width: 100px;
}

.project{
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 100%;
  align-content: center;
}